@charset "UTF-8";

body {
  margin: 0px;
  background-color: rgb(191, 255, 191);
}
header {
  text-align: center;
  background-image: linear-gradient(
    to top,
    rgb(14, 78, 16),
    rgb(116, 233, 141)
  );
  color: white;
  height: 140px;
}
.menu {
  background-color: rgb(14, 78, 16);
}
a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 7px;
}
article {
}
